.panel-body{
    /*background:#DC143C;*/
}

.search-form {
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 30px rgba(0,0,0,0.8);
    box-shadow:0 0 30px rgba(0,0,0,0.8);
    padding: 2em;
    margin: 2em;
    text-align: center;
    background: #e7ebee;
}

.form-title {
    font-family: 'Bungee Shade', cursive;

}

.search-label {
    text-align: left;
}
.search-results {
    background: #DC143C;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}

.search-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.movie-title {
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.movie-year {
    text-align: center;
}

.hidden {
    display: hidden;
}
.more-content {
    /*display: */
    width: 100%;
    max-width: 300px;
}
.glyphicon {
    justify-content: center;
    font-size: 1.5em;
}

.glyphicon:hover {
    color: gray;
}

.additional {
    display: flex;
    justify-content: space-between;
}

.similar {
    background: black;
    color: white;
    font-size: .9em;
    padding: 3px 6px;
}

.similar-movie-poster {
    max-width: 80px;
    margin-bottom: 1em;
}

.results-container {
    width: 100%;
    max-width: 300px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;

}

.good {
    color: #2ECC40;
}

.ok {
    color: yellow;
}

.bad {
    color: red;
}

.wrapper-div {
    align-self: flex-start;
    padding: 1em 1em .5em 1em;
    background: black;
    margin: 1em;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    color: white;
}

